* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 22, 38);
  height: 100vh;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.app {
  max-width: 860px;
  margin: 40px auto;
}

button {
  padding: 11px;
  color: white;
  background-color: transparent;
  font-size: 1.1em;
  border: 1px solid white;
  cursor: pointer;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  position: relative;
}

img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

